<section class="back-to-top-section-classes {{ section.settings.back-to-top_section_classes }}">
  <a
    id="BackToTop"
    href="#"
    title="Back to the top"
    class="back-to-top-classes {{ section.settings.back-to-top_classes }}"
  >
    {% render 'arrow' %}
  </a>
</section>

<style>
  .back-to-top-classes {
    transition: opacity 0.3s;
    opacity: 1;
  }

  .back-to-top-classes.show {
    opacity: 1;
  }
</style>

<script src="{{ 'dev__back-to-the-top.js' | asset_url }}" defer></script> 

{% schema %}
{
  "name": "Back-to-Top Button",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Tailwind Styling"
    },
    {
      "type": "textarea",
      "id": "back-to-top_section_classes",
      "label": "Section Styling"
    },
    {
      "type": "textarea",
      "id": "back-to-top_classes",
      "label": "Back to Top Section Styling",
      "default": "fixed bottom-4 right-4 bg-gray-300 rounded-full p-4 hover:bg-gray-400"
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Back to Top Button"
    }
  ]
}
{% endschema %}
